.standardGraph {
    font-family: Nunito;
    height: 400px;
    margin-bottom: 2em;
}

.jobIcon {
    transform: translateX(0);
}

.statLine {
    fill: rgba(255, 255, 255, 0.72);
    font-size: 0.75rem;
}
