<!DOCTYPE html>
<html lang="en">
    <head>
        <title>奥秘卡收益</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <meta property="description" content="FFXIV 占星术士发卡收益分析工具。" />

        <!-- OpenGraph Tags -->
        <meta property="og:title" content="奥秘卡收益" />
        <meta property="og:description" content="FFXIV 占星术士发卡收益分析工具。" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/logo.png" />
        <meta property="og:url" content="https://don-fon.github.io/partnercalc-ast/" />

        <link rel="canonical" href="https://don-fon.github.io/partnercalc-ast/" />
    </head>
    <body>
        <div id="output"></div>
    </body>
</html>
